/** Override Bootstrap. **/
body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-align: justify;
  padding-top: 50px;
}
section {
  padding-top: 50px;
  margin-top: -50px;
}
table, blockquote {
  font-size: inherit;
}
hr {
  margin-top: 0;
}
code {
  color: inherit;
}
pre {
  border: none;
}
dl dd {
  padding-bottom: 10px;
}
.navbar-fixed-top {
  background-color: white;
}
.navbar-brand {
  font-size: 24px;
  line-height: 14px;
}
.navbar-brand small {
  font-size: 50%;
}
.sidebar {
  padding-top: 10px;
}
.main {
  padding: 0 20px 20px 20px;
  border-left: 1px solid #eee;
}
.thumbnail {
  margin-bottom: 5px;
}
.sidebar nav.affix-bottom {
  position: relative;
}
