/** Override Bootstrap. **/
body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-align: justify;
  padding-top: 70px;
}
section {
  padding-top: 50px;
  margin-top: -50px;
}
table, blockquote {
  font-size: inherit;
}
hr {
  margin-top: 0;
}
code {
  color: inherit;
}
pre {
  border: none;
}
dl dd {
  padding-bottom: 10px;
}

/**
 * Top navigation bar: increase font size, add border, make place for subtext
 * to app name.
 */
.navbar {
  border-radius: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 35px;
  background-color: white;
}
.navbar-brand {
  height: auto;
  padding: 20px 15px;
  font-size: 32px;
  color: rgb(51, 51, 51);
}
.navbar-brand > small {
  font-size: 50%;
}
.navbar-nav > li > a {
  padding: 24px 15px;
  color: rgb(51, 51, 51);
}

.sidebar {
  padding-top: 10px;
}
.main {
  padding: 0 20px 20px 20px;
  border-left: 1px solid #eee;
}
.thumbnail {
  margin-bottom: 5px;
}
.sidebar nav.affix-bottom {
  position: relative;
}
