@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/**
 * See
 * https://so.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site
 */
@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}

body {
  font-size: 13px;
  font-family: "Open sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: lightgray;
  padding-top: 50px;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6,.navbar-brand,thead,dt {
  font-family: "Roboto";
  color: rgb(51, 51, 51);
}

table,blockquote {
  font-size: 13px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

kbd, code {
  color: inherit;
}

pre {
  border: none;
}

.sidebar {
  padding-top: 10px;
  padding-left: 30px;
}

.main {
  background-color:white;
  padding: 0 20 0 20px;
}

