<div
  class="modal-dialog">
  <div
    class="modal-content">
    <div
      class="modal-header">
      <h3>
        Oops! Request Failed
      </h3>
    </div>

    <div
      class="modal-body">
      <p>
        <%= error.message %>
      </p>
    </div>

    <div
      class="modal-footer">
      <button
        type="button"
        class="btn btn-default btn-danger"
        data-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
