<div
  class="modal-dialog modal-lg">
  <div
    class="modal-content">
    <div
      class="modal-header">
      <h3>
        Something went wonky
      </h3>
    </div>

    <div
      class="modal-body">
      <p>
        Looks like you have encountered a bug in SequenceServer. Could you
        please report this incident to your admin or to
        <a
          href="https://groups.google.com/forum/?fromgroups#!forum/sequenceserver">SequenceServer
          Google Group</a>
        (if you are the admin), quoting the error message below?

<pre class="pre-scrollable">
  <%=
    ["#{error.class} - #{error.message}:", *error.backtrace].map do |line|
      ERB::Util.h line
    end.join("\n")
  %>
</pre>

      </p>
    </div>

    <div
      class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal">
        Done
      </button>
    </div>
  </div>
</div>
