<div
  class="container" id="report">
  <div
    class="row">
    <div
      class="col-md-6 col-md-offset-3 text-center">
      <h1>
        <i class="fa fa-cog fa-spin"></i>
        BLAST-ing
      </h1>
      <p>
        <br>
        This can take some time depending on the size of your query and
        database(s). The page will update automatically when BLAST is
        done.
        <br>
        <br>
        You can bookmark the page and come back to it later or share
        the link with someone.
      </p>
    </div>
  </div>
</div>

<div
  id="sequence-viewer" class="modal"
  tabindex=-1>
</div> <!-- sequence viewing -->

<canvas
  id="png-exporter" hidden>
</canvas> <!-- png exporting -->

<% if settings.production? %>
  <script src="js/sequenceserver.min.js"></script>
<% else %>
  <!-- svg-css class indicates that this stylesheet should have its rules included in exported SVGs. -->
  <link rel="stylesheet" href="css/svg.css" class="svg-css"/>

  <script type="text/javascript" src="js/underscore.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/d3.v3.min.js"></script>
  <script type="text/javascript" src="js/jquery.t.js"></script>
  <script type="text/javascript" src="js/sequence.js"></script>
  <script type="text/javascript" src="js/sequenceserver.js"></script>
  <script type="text/javascript" src="js/graph.js"></script>
  <script type="text/javascript" src="js/alignment_viewer.js"></script>
  <script type="text/javascript" src="js/alignment_exporter.js"></script>
  <script type="text/javascript" src="js/image_exporter.js"></script>
  <script type="text/javascript" src="js/exporter.js"></script>
  <script type="text/javascript" src="js/ext/colpick.js"></script>
  <script type="text/javascript" src="js/react.js"></script>
  <script type="text/javascript" src="js/JSXTransformer.js"></script>
  <script type="text/jsx" src="js/sequenceserver.report.js"></script>
<% end %>
