<!-- We will initialise React on this div -->
<div id="view" class="mb-6 pt-2 container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"></div>

<!-- JS -->
<script src="sequenceserver-report.min.js?ver=<%= SequenceServer::VERSION %>"></script>
