<!-- We will initialise React on this div -->
<div id="view"></div>

<div class = "modal-body">
    <h4> Cloud server says: </h4>
   <h2> <%= $response %> </h2>
   <h3> Go to the previous page to see your results again. </h3>
</div>
<div class= "modal-body">
    <button
        type="button" 
        class = "btn btn-default btn-primary">
            Go back to results
    </button>
</div>