<div
  class="container">
  <div
    class="result" id="result">
  </div>
  <% if settings.production? %>
    <script src="js/sequenceserver.min.js"></script>
  <% else %>
    <script type="text/javascript" src="js/underscore.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/jquery.t.js"></script>
    <script type="text/javascript" src="js/sequence.js"></script>
    <script type="text/javascript" src="js/sequenceserver.js"></script>
    <script type="text/javascript" src="js/sequenceserver.report.js"></script>
  <% end %>
</div>
