<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Simple Sequence Search</title>
    <meta name="author" content="Anurag Priyam" />
    <meta name="author" content="Yannick Wurm" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/screen.css">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/master.css">
  </head>

  <body>
    <div class="container">
      <div class="header span-24">
        <div class="banner span-24"><a href="/">Simple Sequence Search</a></div>
      </div>
      <hr>
      <div class="body span-24">
        <form method="POST" action="/">
          <div class="span-24 sequence">
            <label for="sequence" class="span-4">Search Sequence</label>
            <textarea name="sequence" id="sequence" class="span-20 last"> Search Sequence Here ... </textarea>
          </div>
          <fieldset class="span-4">
            <legend>Blast Method</legend>
            <input type="radio" name="method" value="blastn" id="blastn" class="span-1"/>
            <label for="blastn" class="span-3 last">Blastn</label>
            <input type="radio" name="method" value="blastp" id="blastp" class="span-1"/>
            <label for="blastp" class="span-3 last">Blastp</label>
            <input type="radio" name="method" value="blastx" id="blastx" class="span-1"/>
            <label for="blastp" class="span-3 last">Blastx</label>
            <input type="radio" name="method" value="tblastn" id="tblastn" class="span-1"/>
            <label for="blastp" class="span-3 last">Tblastn</label>
            <input type="radio" name="method" value="tblastx" id="tblastx" class="span-1"/>
            <label for="blastp" class="span-3 last">Tblastx</label>
            <input type="radio" name="method" value="megablast" id="megablast" class="span-1"/>
            <label for="blastp" class="span-3 last">Megablast</label>
          </fieldset>
          <fieldset class="span-4 border">
            <legend>Database</legend>
            <input type="checkbox" name="database" value="protein" id="protein-db" class="span-1"/>
            <label for="protein-db" class="span-3 last">Protein</label>
            <input type="checkbox" name="database" value="neucleotide" id="neucleotide-db" class="span-1"/>
            <label for="neucleotide" class="span-3 last">Neucleotide</label>
          </fieldset>
          <fieldset class="span-4 last">
            <legend>Output format</legend>
            <input type="radio" name="output" value="text" id="text-output" class="span-1"/>
            <label for="text-output" class="span-3 last">Text</label>
            <input type="radio" name="output" value="tab" id="tab-output" class="span-1"/>
            <label for="tab-output" class="span-3 last">Tab Delimited</label>
          </fieldset>
          <div class="span-24">
            <label for="advanced" class="span-4">Advanced options</label>
            <input type="text" name="advanced" id="advanced" class="span-20 last"/>
          </div>
          <div class="span-24 buttons">
            <input type="submit" value="BLAST!"/>
            <input type="reset" value="Reset"/>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
