<% base_url_protocol = ENV['HTTPS'] == 'on' ? 'https' : (request.env['HTTP_X_FORWARDED_PROTO'] || request.scheme) %>
<% base_url = "#{base_url_protocol}://#{request.host}" %>
<% base_url << ":#{request.port}" unless [80, 443].include?(request.port) %>

<!-- Optional hidden query sequence sent by the server -->
<input type="hidden" id="input_sequence" value="<%= @input_sequence %>">

<!-- We will initialise React on this div -->
<div id="view"></div>

<!-- JS -->
<script src="<%= "#{base_url}/blast/sequenceserver-search.min.js?ver=#{SequenceServer::VERSION}" %>"></script>

<!-- Markup for advanced options modal -->
<div
  class="modal fade" id="help"
  tabindex="-1">
  <div
    class="modal-dialog modal-lg">
    <div
      class="modal-content">
      <div
        class="modal-header">
        <h3>Advanced Options</h3>
      </div>
      <div
        class="modal-body">
        <%= erb :_options %>
      </div>
      <div
        class="modal-footer">
        <button
          type="button"
          class="btn btn-default btn-primary"
          data-dismiss="modal">
          Got it!
        </button>
      </div>
    </div>
  </div>
</div>
