<div
  class="dnd-overlay"
  style="display: none;">
  <div
    class="container dnd-overlay-container">
    <div
      class="row">
      <div
        class="col-md-offset-2 col-md-10">
        <p
          class="dnd-overlay-drop"
          style="display: none;">
          <i class="fa fa-2x fa-file-o"></i>
          Drop query sequence file here
        </p>
        <p
          class="dnd-overlay-overwrite"
          style="display: none;">
          <i class="fa fa-2x fa-file-o"></i>
          <span style="color: red;">Overwrite</span> query sequence file
        </p>

        <div
          class="dnd-errors">
          <div
            class="dnd-error row"
            id="dnd-multi-notification"
            style="display: none;">
            <div
              class="col-md-6 col-md-offset-3">
              One file at a time please.
            </div>
          </div>

          <div
            class="dnd-error row"
            id="dnd-large-file-notification"
            style="display: none;">
            <div
              class="col-md-6 col-md-offset-3">
              Too big a file. Can only do less than 10 MB. &gt;_&lt;
            </div>
          </div>

          <div
            class="dnd-error row"
            id="dnd-format-notification"
            style="display: none;">
            <div
              class="col-md-6 col-md-offset-3">
              Only FASTA files please.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container">
  <noscript>
    <div
      class="nojs-error">
      <h3>SequenceServer can't work without JavaScript.</h3>
      <ul>
        <li>Please see if you can enable JavaScript in your browser's preferences.</li>
        <li>If your browser doesn't support JavaScript, please consider upgrading to the latest version or using Firefox or Chrome.</li>
      </ul>
    </div>
  </noscript>

  <div
    id="form-container">
  </div>
</div> <!-- /container -->

<!-- JS -->
<% if settings.production? %>
  <script src="js/sequenceserver.min.js"></script>
<% else %>
  <script type="text/javascript" src="js/underscore.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/webshims/polyfiller.js"></script>
	<script type="text/javascript" src="js/react.js"></script>
	<script type="text/javascript" src="js/JSXTransformer.js"></script>
  <script type="text/javascript" src="js/sequenceserver.js"></script>
  <script type="text/jsx" src="js/sequenceserver.search.js"></script>
<% end %>
