<!-- Optional hidden query sequence sent by the server -->
<input type="hidden" id="input_sequence" value="<%= @input_sequence %>">

<!-- We will initialise React on this div -->
<div id="view"></div>

<!-- JS -->
<% if settings.production? %>
  <script src="sequenceserver-search.min.js?ver=<%= SequenceServer::VERSION %>"></script>
<% else %>
  <script src="vendor/system.js"></script>
  <script src="config.js"></script>
  <script>
    System.import('js/search.js')
  </script>
<% end %>

<!-- Markup for advanced options modal -->
<div
  class="modal fade" id="help"
  tabindex="-1">
  <div
    class="modal-dialog modal-lg">
    <div
      class="modal-content">
      <div
        class="modal-header">
        <h3>Advanced Options</h3>
      </div>
      <div
        class="modal-body">
        <%= erb :_options %>
      </div>
      <div
        class="modal-footer">
        <button
          type="button"
          class="btn btn-default btn-primary"
          data-dismiss="modal">
          Got it!
        </button>
      </div>
    </div>
  </div>
</div>
