<!DOCTYPE html>
<html lang="en">

<head>
  <title>SequenceServer: Custom BLAST Server</title>
  <meta name="author" content="Pragmatic Genomics Limited"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen,print" type="text/css" href="css/app.min.css"/>
</head>

<body>
  <header id="header" class="bg-gray-100 shadow-lg w-full">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex flex-none items-center">
        <div class="py-4">
          <a href="https://sequenceserver.com" target="_blank" class="flex items-end">
            <img src="SequenceServer_logo.png" alt="sequenceserver_logo" width="1620" height="213" class="h-8 w-auto pr-2">
            <small>
              <%= SequenceServer::VERSION %>
            </small>
          </a>
        </div>

        <div class="flex-grow"></div>
        <ul class="flex space-x-2">
          <li>
            <a
              href="https://sequenceserver.com/progress-on-BLAST-interface/"
              class="underline text-seqblue"
              data-update-check
              data-version="<%= SequenceServer::VERSION %>"
              target="_blank">
            </a>
          </li>
          <li>
            <a
              class="text-seqblue flex items-center"
              target="_blank"
              href="https://sequenceserver.com/support">

              <svg class="w-4 h-4 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"/></svg>
              Help &amp; Support
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <noscript>
    <div class="mx-auto px-4">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Our website cannot work without JavaScript.</strong>
        <ul class="mt-2 list-disc list-inside">
          <li>Please see if you can enable JavaScript in your browser's preferences.</li>
          <li>If your browser doesn't support JavaScript, please consider upgrading to the latest version or using Firefox or Chrome.</li>
        </ul>
      </div>
    </div>
  </noscript>

  <%= yield %>

  <div class="mx-auto px-4">
    <div class="container">
      <p class="text-center">
        Please cite data sources and <a style='vertical-align: baseline' href="https://doi.org/10.1093/molbev/msz185">the paper</a> describing <a href="https://wurmlab.com">our</a> <a href="https://sequenceserver.com">SequenceServer BLAST interface</a>.
        <a style='vertical-align: baseline' href='https://sequenceserver.com'>
          <em>
            <%=
              quote = [
                "Visualize BLAST results.",
                "Run BLAST on local computer.",
                "BLAST on Mac.",
                "BLAST on Windows.",
                "Run blast on mac.",
                "Blast analysis software.",
                "Sequence Search on local computer.",
                "Blast DNA sequence search.",
                "Custom BLAST search.",
                "Install blast on Mac.",
                "Perform BLAST analyses.",
                "Custom BLAST web interface.",
                "SequenceServer: Local BLAST with bespoke html interface.",
                "Set up custom BLAST interface with SequenceServer.",
                "Easy BLASTing with SequenceServer.",
                "BLAST against a custom, local database with SequenceServer.",
                "Cloud BLAST custom genome.",
                "NCBI BLAST alternative.",
                "BLAST private transcriptome assembly in the Cloud.",
                "Cloud server for comparative genomics, oligos, crisp, primers and more."
              ].sample
            %>
          </em>
        </a>
      </p>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

        function suggestNewVersion(element, version) {
            element.textContent = `New version v${version} is available`;
            console.log(`New SequenceServer version available ${version}. Please consider updating.`)
        }

        const element = document.querySelector('[data-update-check]');
        const currentVersion = element.getAttribute('data-version');
        const cachedVersion = document.cookie.split(';').find((item) => item.trim().startsWith('newVersion='));
        const upToDate = document.cookie.split(';').find((item) => item.trim().startsWith('versionIsLatest='));
        if (upToDate) {
            console.log('SequenceServer is up to date');
            return;
        }
        if (cachedVersion) {
            const newVersion = cachedVersion.split('=')[1];
            if (newVersion !== currentVersion) {
              suggestNewVersion(element, newVersion);
            }
            return;
        }
        console.log('Checking for new SequenceServer version...')
        fetch(`https://updates.sequenceserver.com/?version=${currentVersion}`)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Failed to check for new SequenceServer version')
                }
            })
            .then(data => {
                const date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                const expires = "; expires=" + date.toUTCString();

                if (data.update_available) {
                    const newVersion = data.new_version;
                    document.cookie = `newVersion=${newVersion}${expires}; path=/`;
                    suggestNewVersion(element, newVersion);
                } else {
                    console.log('SequenceServer is up to date');
                    document.cookie = `versionIsLatest=true${expires}; path=/`;
                }
            })
            .catch(() => {});
    });

  </script>
</body>
</html>
