@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

/* Graph */
.grapher {
  @apply m-0;
}

svg text {
  @apply text-[10px];
}

svg .axis path,
.axis line {
  @apply fill-none stroke-[black];
  shape-rendering: crispEdges;
}

.grapher.circos .caption {
  @apply text-base font-bold p-0;
}

.alignment-overview.svg-container {
  @apply text-center;
}

.length-distribution.svg-container,
.kablammo.svg-container {
  @apply h-[150px];
}

svg .bar:hover {
  @apply fill-[orangered];
}

.polygon:hover {
  @apply font-bold;
}

sup {
  @apply static align-super;
}

/* Pre tag */
pre.indL,
pre.seqF {
  @apply flex bg-[#f5f5f5] p-2.5 my-2.5 break-all break-words border border-[#ccc] text-[11px] text-[#333] md:text-[13px];
}

pre.seqF {
  @apply border-l-0 rounded-r-md;
}

pre.indL {
  @apply rounded-l-md pr-0;
}

.side-nav.active {
  @apply text-seqorange font-bold;
}

.disabled {
  @apply cursor-not-allowed pointer-events-none text-gray-400;
}

/* Override jQuery UI tooltip styles  */
.ui-tooltip {
  background-color: #000 !important;
  border-radius: 8px !important;
  padding: 10px !important;
  box-shadow: none !important;
  border: 1px solid #000 !important;
}

.ui-tooltip-content {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  transform: rotate(45deg);
  background-color: #000;
  border: 1px solide #000;
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}
