body {
	background-color: #2B3E42;
	/*background: #3f4555;*/
	font-family: Tahoma, Arial, sans-serif;
}

.container {
	width: 800px;  
	margin: 50px auto;
	background-color: white;
	border: 2px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

h1 {
    margin: 0px;
	padding: 0px;
}

.banner {
	font-weight: bold;
	background: #ebcd7b;
	font-size: 300%;
	font-family: Tahoma, Arial, sans-serif;
	color: black;
	padding: 2%;
	margin-bottom: 2%;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;

}

.underbar { 
	background-color: #ebcd7b; 
	font-family:arial;
	font-size: 12px;
	text-align: center;
	color: #333333;
	padding: 1px 1px 1px 1px;
	margin: 2% 0 0 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.entryfield {
	padding:0;
	margin:0;
	float:left; /* otherwise each div is under the next. */
	width:82%;
}

.entryfield textarea {
	padding:0;
	margin:0;
	width:100%;
	height: 168px;
	border-color:black;
}

.blastmethods {
	float					: right;
	width 			        : 15%;
	background				: #222222;
	border					: none;
	height                  :  150px;

	border-top-right-radius	: 10px;
	border-top-left-radius	: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius	:  0px;

	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft:  0px;


	font-size					: 1.5em; 
	font-family: Tahoma, Arial, sans-serif; 
	color: black;
	margin:0;
	padding:0;
}

fieldset {
	margin:0;
	padding:0;
}

.horizontal {
	margin: 2%;
	padding-bottom:15px;
	padding-top:15px;
	width: 96%;
	clear:both;
}

.rounded {
	border-radius  :10px;
	-moz-border-radius:10px;
}

.box {
	background  : #D5E1DD;
	/* background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));   */

	border      : none;

	padding     : 10px;
	margin: 0;
	font-family : Tahoma, Arial, sans-serif;
	color       : black;
}

.databases {
	width       :46.5%;
}
.nucleotide {
	float    :left;
}
.protein {
	float    : right;
}

.radiobutton{
	margin: 9px 5px 0px 0px;
	padding: 0;
	vertical-align: top;
}
.dbcheckbox {   /* within each "database box" */
float:left;
clear:both;
margin: 5px 10px 0 0;
padding: 0;
}
.dbdescription {
	float:left;
}

.advanced {
	float:left;
	width: 78%;
}

.greytext {
  color: #A9A9A9;
}

.pointer {
	cursor:pointer;
}

.advanced pre {
	display: none;
}
.advanced input {
	float:right;
	width: 60%;
}

.submit_button {
	float:right;
	width: 17.5%;
}
.submit_button input {
	width: 100%;
	background-color	: #323292;
	background: -webkit-gradient(linear, left top, right bottom, from(#0066CC), to(#192D53));
	background: -moz-linear-gradient(45deg,#0066CC,#192D53);

	border			: 2px solid #192D53;
	border-radius		: 10px;
	-moz-border-radius: 10px;
	color				: white;
	padding			: 2.5px 10px 2.5px 10px;
	cursor			: pointer;
	font-size			: 1.8em;
	font-family		: Tahoma, Arial, sans-serif;
	margin: 0 0 0 0;

}
.submit_button input:active {
	color: #1f2126;

}
.submit_button input:hover {
	background: -webkit-gradient(linear, left top, right bottom, from(#009cff), to(#0261c2));
	background: -moz-linear-gradient(45deg,#009cff,#0261c2);

}

h2, .bigtext{
	font-family: Tahoma, Arial, serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
	margin:0;
	padding: 0px;
	/*	margin: 8px 0 10px 0;*/
}

.smalltext{
	font-size:10px;
}


#result{
	clear:both;
	background-color: white;
	padding-left: 5%;
	margin: 0 18px 0 18px;
}
.result_even_true{
	background-color: #FFCCCC
}

a {
    color: #b22222;
}
