/* Override or extend Bootstrap */
code {
  white-space: normal;
  word-wrap: break-word;
}

body {
  position: relative;
}

.disabled {
  color: #ccc;
}

.text-monospace {
  font-family: monospace;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-brand > small {
  font-size: 50%;
}

label {
  font-weight: normal;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
.table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: none;
  padding-left: 0px;
}

.table>thead>tr>th {
  border-bottom: 1px solid #eee;
}

/* SequenceServer */
.nojs-error {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: red;
}

.dnd-errors {
  color: red;
  font-size: 18px;
}

.sequence-controls {
  position: absolute;
  top: 4px;
  right: 19px;
}

.notifications {
  height: 32px;
  position: relative;
  top: -32px;
}

.notification {
  height: 32px !important;
}

.notification .alert-info, .notification .alert-danger {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 6px 12px 6px 12px;
}

.databases-container {
  margin-top: -15px;
}

.databases-container .btn {
  text-align: left;
  white-space: normal;
}

#blast > .form-group:last-child {
  margin-top: -5px;
}

.advanced > label, .advanced .input-group-addon {
  cursor: pointer;
}

#help pre:hover {
  background-color: #FFC;
}

#method, #methods li {
  text-transform: uppercase;
}

#methods li {
  font-size: 15px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: 0px;
}

#methods {
  width: 100%
}

#method, #methods ul {
  width: 92%;
}

#result {
  margin-top: 45px;
}

.index.affix {
  top: 8px;
}

.index {
  max-height: 416px; /* will accomodate 10 elements. IE 7 and above only. */
  overflow-y: auto;
}

.index a {
  color: #999;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.index .active a {
  border-left: 4px #eee solid;
}

.page-header {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  word-break: break-word;
}

.resultn {
  margin-bottom: 50px;
}

.hitn {
  margin-top: 24px;
}

.hitn h4 {
  cursor: pointer;
}

.hsps:first-child {
  margin-top: 14px;
}

.hsps {
  margin-top: 18px;
}

.hsp-stats {
  margin-bottom: 0px;
}

.hsp-stats>thead>tr>th {
  border-bottom: none;
  padding: 0px;
}

.hsp-stats>tbody>tr>td {
  padding: 0px;
  border-bottom: 1px solid #eee;
}

.alignment {
  margin-top: 8px;
  white-space: pre;
  font-family: monospace;
  line-height: 16px;
}

.hit-links {
  margin: 10px 0px;
}

.hit-links-query {
  margin: 20px 0px;
}

.footer a:first-child {
  vertical-align: super;
}

.tabular-view {
    margin-top: 8px;
}

.graphical-overview {
  text-align: center;
}

.axis path,
.axis line {
    fill: red;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.dnd-overlay {
  position: absolute;
  top: 51px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.75);
}

.dnd-overlay * {
  pointer-events: none;
}

.dnd-overlay-container {
  padding-top: 72px;
}

.dnd-overlay-container p {
  font-size: 48px;
}
