/* Override or extend Bootstrap */
.text-monospace {
  font-family: monospace;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-brand > small {
  font-size: 50%;
}

label {
  font-weight: normal;
}

/* SequenceServer */
.nojs-error {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: red;
}

.sequence-controls {
  position: absolute;
  top: 4px;
  right: 19px;
}

#blast > .form-group {
  padding-left: 15px;
}

.notifications {
  height: 32px;
  position: relative;
  top: -32px;
}

.notification {
  height: 32px !important;
}

.notification .alert-info, .notification .alert-danger {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 6px 12px 6px 12px;
}

.databases-container .btn {
  text-align: left;
  white-space: normal;
}

span.highlight {
  font-weight: bold;
}

.advanced > label {
  cursor: pointer;
}

.hover-focus {
  background-color: #FFC;
}

#method, #methods li {
  text-transform: uppercase;
}

#methods li {
  font-size: 15px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: 0px;
}

#methods {
  width: 100%
}

#method, #methods ul {
  width: 92%;
}

.index-container {
  padding-left: 30px;
  padding-right: 0px;
}

.index.affix {
  top: 8px;
}

.index {
  max-height: 416px; /* will accomodate 10 elements. IE 7 and above only. */
  overflow-y: auto;
}

.index a {
  color: #999;
}

.resultn > .page-header, .resultn > .page-header > h3, .fastan:first-child > .page-header {
  margin-top: 0px;
}

.resultn {
  border-left: 1px #eee solid;
  padding-left: 15px;
  margin-bottom: 50px;
}

.resultn > .page-content {
  padding-left: 15px;
}

.hitn > .page-content {
  padding: 0px 15px;
}

.index .focussed, .resultn.focussed {
  border-left: 4px #eee solid;
}

a.link-fasta {
  display: block;
}

a.link-fasta-hit {
  margin: 10px 0px;
}

a.link-fasta-query {
  margin: 20px 0px;
}

.footer a:first-child {
  vertical-align: super;
}

.tabular-view {
    padding-top: 30px;
}

.axis path,
.axis line {
    fill: red;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Override/extend tablesorter */

.tablesorter-default {
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
}

.tablesorter-default th,
.tablesorter-default thead td{
    border-bottom: none;
}

.tablesorter-default td {
    border-bottom: none;
}
