html, body{
  height: 100%;
}

pre {
  font-family: Monospace;
}

br.large {
  line-height: 28px;
}

.control-group {
  margin-bottom: 0px;
}

.nojs-error {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: red;
}

.offset-left {
  margin-left: 20px;
}

.offset-right {
  margin-right: 20px;
}

.box {
  background: #D5E1DD;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

fieldset legend {
  padding-left: 2%;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
}

body {
  background-color: #2B3E42;
}

.page {
  border-radius: 6px 6px 6px 6px;
  margin: 50px 0px;
}

#banner {
  background: #EBCD7B;
  padding: 2%;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
}

#blast {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

.detached-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.detached-bottom {
  border-radius: 0px 0px 6px 6px;
}

#drop-indicator {
  width: 890px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-weight: bold;
  padding: 8px 5px 8px 5px;
  /* padding-bottom: 8px; */
}

#drop-indicator .contents {
  margin-left: 6px;
}

#drop-indicator span {
  vertical-align: middle
}

#sequence {
  height: 198px;
  width: 890px;
  display: block;
  margin: 0 auto;
}

.notifications {
  height: 0px;
  position: relative;
  top: -12px;
}

.notification {
  margin: 0 auto;
  z-index: 1050;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 6px 12px 6px 12px;
}

#sequence-type {
  font-style: italic;
}

#nucleotide-sequence-notification, #protein-sequence-notification {
  width: 250px;
}

#mixed-sequence-notification {
  width: 740px;
}

.databases {
  padding-bottom: 10px;
}

span.highlight {
  font-weight: bold;
}

.advanced label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding-left: 2%;
}

.advanced input {
  width: 440px;
  margin: 1% 1%;
}

.advanced span {
  cursor: pointer;
}

.hover-focus {
  background-color: #FFC;
}

#method, #methods li {
  text-transform: uppercase;
}

#methods li {
  font-size: 15px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: 0px;
}

#methods > button {
  height: 38px;
}

.results {
  background-color: #2B3E42;
  padding-top: 20px;
  padding-bottom: 20px;
}

#result {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

.resultn {
  background-color: #dfefe6;
  margin: 18px 0px 18px 0px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 3%;
  border: 1px solid transparent;
}

ul.index {
  list-style: none;
  position: fixed;
  margin-left: 710px;
  padding: 15px;
  width: 200px;
  top: 5px;
}

ul.index li {
  padding: 3%;
}

ul.index li.focussed {
  background-color: #08C;
}

ul.index li.focussed a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

ul.index li:visited {
}

div.focussed {
  border: 1px solid black;
}

#underbar {
  background: #EBCD7B;
  padding: 1%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  text-align: center;
}

#spinner {
  color: gray;
  background-color: transparent;
  border: none;
  box-shadow: none;
  overflow: hidden;
}

#spinner > div {
  height: 200px;
}

#social p {
  font-size: 14px;
}

#social .buttons {
  width: 268px;
  margin: 0px auto;
}

.button-container {
  width: 74px;
  height: 32px;
  float: left;
  margin-right: 20px;
  text-align: center;
}
