.navbar-brand {
  font-size: 24px;
}

.navbar-brand > small {
  font-size: 50%;
}

.nojs-error {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: red;
}

#sequence {
  font-family: monospace;
}

.sequence-controls {
  position: absolute;
  top: 4px;
  right: 19px;
}

#blast, .result {
  padding-top: 51px;
}

#blast > .form-group, .result > .content {
  padding-left: 15px;
  padding-right: 15px;
}

.notifications {
  height: 32px;
  position: relative;
  top: -32px;
}

.notification {
  height: 32px !important;
}

.notification .alert-info, .notification .alert-danger {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 6px 12px 6px 12px;
}

#sequence-type {
  font-style: italic;
}

.databases-container .btn {
  text-align: left;
  white-space: normal;
}

span.highlight {
  font-weight: bold;
}

.advanced > label {
  cursor: pointer;
}

.hover-focus {
  background-color: #FFC;
}

#method, #methods li {
  text-transform: uppercase;
}

#methods li {
  font-size: 15px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: 0px;
}

div.focussed {
  border: 1px solid black;
}

.footer a:first-child {
  vertical-align: super;
}

#methods {
  width: 100%
}

#method, #methods ul {
  width: 92%;
}

label {
  font-weight: normal;
}

.show-grid {
    background-color: #ddd;
}

.alignment {
   font-family: Courier, "Lucida Console", monospace !important;
}
