svg text {
  font-family: "Source sans pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
}

svg .axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

svg .bar:hover {
  fill: orangered;
}

.polygon:hover {
    stroke: rgba(0, 0, 0, 0.4);
    stroke-width: 1px;
}

.grapher {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caption {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0 0 10px;
  cursor: pointer;
  width: 82%;
}

.graph-links {
  display: inline-block;
  padding: 0 10px 0 0;
  text-align: right;
  width: 18%;
}

.raised {
  z-index: 100;
}

.length-distribution {
  height: 150px;
}

.kablammo {
  height: 150px;
}

.alignment-overview {
  /*height: 200px;*/
}

.btn > .btn-link > .more {
  text-align: center;
}

svg .RdYlBu .q0-3{fill:rgb(252,141,89)}
svg .RdYlBu .q1-3{fill:rgb(255,255,191)}
svg .RdYlBu .q2-3{fill:rgb(145,191,219)}
svg .RdYlBu .q0-4{fill:rgb(215,25,28)}
svg .RdYlBu .q1-4{fill:rgb(253,174,97)}
svg .RdYlBu .q2-4{fill:rgb(171,217,233)}
svg .RdYlBu .q3-4{fill:rgb(44,123,182)}
svg .RdYlBu .q0-5{fill:rgb(215,25,28)}
svg .RdYlBu .q1-5{fill:rgb(253,174,97)}
svg .RdYlBu .q2-5{fill:rgb(255,255,191)}
svg .RdYlBu .q3-5{fill:rgb(171,217,233)}
svg .RdYlBu .q4-5{fill:rgb(44,123,182)}
svg .RdYlBu .q0-6{fill:rgb(215,48,39)}
svg .RdYlBu .q1-6{fill:rgb(252,141,89)}
svg .RdYlBu .q2-6{fill:rgb(254,224,144)}
svg .RdYlBu .q3-6{fill:rgb(224,243,248)}
svg .RdYlBu .q4-6{fill:rgb(145,191,219)}
svg .RdYlBu .q5-6{fill:rgb(69,117,180)}
svg .RdYlBu .q0-7{fill:rgb(215,48,39)}
svg .RdYlBu .q1-7{fill:rgb(252,141,89)}
svg .RdYlBu .q2-7{fill:rgb(254,224,144)}
svg .RdYlBu .q3-7{fill:rgb(255,255,191)}
svg .RdYlBu .q4-7{fill:rgb(224,243,248)}
svg .RdYlBu .q5-7{fill:rgb(145,191,219)}
svg .RdYlBu .q6-7{fill:rgb(69,117,180)}
svg .RdYlBu .q0-8{fill:rgb(215,48,39)}
svg .RdYlBu .q1-8{fill:rgb(244,109,67)}
svg .RdYlBu .q2-8{fill:rgb(253,174,97)}
svg .RdYlBu .q3-8{fill:rgb(254,224,144)}
svg .RdYlBu .q4-8{fill:rgb(224,243,248)}
svg .RdYlBu .q5-8{fill:rgb(171,217,233)}
svg .RdYlBu .q6-8{fill:rgb(116,173,209)}
svg .RdYlBu .q7-8{fill:rgb(69,117,180)}
svg .RdYlBu .q0-9{fill:rgb(215,48,39)}
svg .RdYlBu .q1-9{fill:rgb(244,109,67)}
svg .RdYlBu .q2-9{fill:rgb(253,174,97)}
svg .RdYlBu .q3-9{fill:rgb(254,224,144)}
svg .RdYlBu .q4-9{fill:rgb(255,255,191)}
svg .RdYlBu .q5-9{fill:rgb(224,243,248)}
svg .RdYlBu .q6-9{fill:rgb(171,217,233)}
svg .RdYlBu .q7-9{fill:rgb(116,173,209)}
svg .RdYlBu .q8-9{fill:rgb(69,117,180)}
svg .RdYlBu .q0-10{fill:rgb(165,0,38)}
svg .RdYlBu .q1-10{fill:rgb(215,48,39)}
svg .RdYlBu .q2-10{fill:rgb(244,109,67)}
svg .RdYlBu .q3-10{fill:rgb(253,174,97)}
svg .RdYlBu .q4-10{fill:rgb(254,224,144)}
svg .RdYlBu .q5-10{fill:rgb(224,243,248)}
svg .RdYlBu .q6-10{fill:rgb(171,217,233)}
svg .RdYlBu .q7-10{fill:rgb(116,173,209)}
svg .RdYlBu .q8-10{fill:rgb(69,117,180)}
svg .RdYlBu .q9-10{fill:rgb(49,54,149)}
svg .RdYlBu .q0-11{fill:rgb(165,0,38)}
svg .RdYlBu .q1-11{fill:rgb(215,48,39)}
svg .RdYlBu .q2-11{fill:rgb(244,109,67)}
svg .RdYlBu .q3-11{fill:rgb(253,174,97)}
svg .RdYlBu .q4-11{fill:rgb(254,224,144)}
svg .RdYlBu .q5-11{fill:rgb(255,255,191)}
svg .RdYlBu .q6-11{fill:rgb(224,243,248)}
svg .RdYlBu .q7-11{fill:rgb(171,217,233)}
svg .RdYlBu .q8-11{fill:rgb(116,173,209)}
svg .RdYlBu .q9-11{fill:rgb(69,117,180)}
svg .RdYlBu .q10-11{fill:rgb(49,54,149)}
