/**********************
 * Override Bootstrap *
 **********************/

@import url('../vendor/github/nicgirault/circosJs@1.7.0/dist/colorBrewer.css');
@import url('../vendor/github/twbs/bootstrap@3.3.5/css/bootstrap.min.css');
@import url('../vendor/npm/font-awesome@4.4.0/css/font-awesome.min.css');
@import url('../vendor/github/vakata/jstree@3.3.8/dist/themes/default/style.min.css');
@import url('grapher.css');
@import url('fonts.css');

/**
 * For scrollspy, etc.
 */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  color: black;
}

/**
 * No underlines on links, ever
 */
a:hover,
.btn-link:hover {
  text-decoration: none;
  color: #c74f14;
}

a {
  color: #1b557a;
}

label:hover {
  color: #c74f14;
}

.yellow-background {
  background-color: #e2d382;
}

/**
 * Disable resize grabber on textarea.
 */
textarea {
  resize: vertical;
  min-height: 214px;
}

hr {
  border-top: transparent;
}

/**
 * Use normal font weight for labels and indicate they are clickable by setting
 * `cursor: pointer`.
 */
label {
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  color: #1b557a;
}

small {
  color: inherit !important;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h3 > .fa,
h4 > .fa {
  vertical-align: bottom;
}

/**
 * Without this .disabled elements hardly look disabled.
 */
.disabled {
  color: #ccc !important;
}

a.disabled:hover,
.btn-link[disabled]:hover {
  color: #ccc;
  cursor: not-allowed;
}

/**
 * Increase font size, add border, make place for subtext to app name.
 */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 1px solid #c74f14;
}

.navbar-brand {
  height: auto;
  padding: 10px 7.5px;
  font-size: 32px;
  color: rgb(51, 51, 51);
}

.navbar-brand > small {
  font-size: 50%;
  vertical-align: text-bottom;
}

.navbar-nav > li > a {
  padding: 10px 7.5px;
  font-size: 14px;
  color: #174465;
}

/* logo */
.navbar-brand > img {
  display: inline-block;
}

/**
 * Like BS' .page-header but without extra margin and the ability to display a
 * sub-text on right.
 */

/* Hit header styling */
.section-header {
  border-bottom: 1px solid  #c74f14;
  padding-left: 1px;
  display: table;
  width: 100%;
}

.section-header-sidebar {
  padding-left: 1px;
  display: table;
  width: 100%;
}

.section-header-sidebar > h4 {
  font-weight: bold;
  margin-bottom: 0;
}

.section-header > * {
  display: table-cell;
}

.section-header > *:first-child {
  width: 100%;
}

.section-content {
  padding: 0 0 0 1px;
}

/**
 * Take out border, cut down margin and padding, and remove background color
 * from panel.
 */
.panel {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.panel .panel-heading {
  padding: 0;
  background-color: inherit;
  border-bottom: 1px solid #c74f14;
}

.panel .panel-heading h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

/**
 * Take padding-right out of .control-label and keep padding of .input-group.
 * Works better when browser is resized to smaller width.
 */
.control-label[class*="col-"] {
  padding-right: 0;
}

.input-group[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

/**
 * Take out border from each row and apply only to table header.
 */
.table {
  margin-bottom: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none;
  font-weight: normal;
  padding: 0 0 0 4px;
}

.table > thead > tr > th {
  border-bottom: none;
  color: #5f5f5f;
}

.clamped-paragraph {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

/**
 * Set max-width and font-family on tooltips.
 */
.tooltip-inner {
  max-width: 350px;
  font-family: "Source sans pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/********************
 * Extend Bootstrap *
 ********************/

/**
 * Capitalize text.
 */
.text-capitalize {
  text-transform: capitalize;
}

/**
 * Uppercase text.
 */
.text-uppercase {
  text-transform: uppercase;
}

/**
 * Use monospace font.
 */
.text-monospace {
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
  font-size: 12px;
}

/**
 * Make text bold.
 */
.text-bold {
  font-weight: bold;
}

/**
 * Set cursor: pointer on the given element.
 */
.cursor-pointer {
  cursor: pointer;
}

/**
 * Do not wrap text or show horizontal scrollbar if text overflows the width of
 * the element. Show ellipsis instead.
 */
td.nowrap-ellipsis {
  max-width: 0; /* https://stackoverflow.com/a/11877033 */
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * Helpers to override :hover and .active on .nav elements.
 */
.nav.hover-reset > li > a:hover {
  background-color: inherit;
  color: #c74f14;
}

.nav.focus-reset > li > a:focus {
  background-color: inherit;
  color: #c74f14;
}

.nav.active-bold > .active > a {
  font-weight: bold;
  color: #c74f14;
}

/**
 * Use with .label class to use the foreground color defined by parent element.
 */
.label-reset {
  color: inherit;
  line-height: inherit;
  font-weight: normal;
  font-size: inherit;
}

.pos-label {
  padding: 0 0 0 0.6em;
}

/**
 * Reset Bootstrap's CSS for pre tags.
 */
.pre-reset {
  margin: 0 0;
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: inherit;
  white-space: pre-wrap;
  word-break: keep-all;
}

/***************************
 * SequenceServer specific *
 ***************************/
.nojs-error {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: red;
}

.dnd-errors {
  color: red;
  font-size: 18px;
}

.modal-error {
  color: red;
  font-size: 18px;
  border: 1px solid red;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.biojs-vis-sequence pre {
  margin: 0 0;
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: inherit;
}

.query-container {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
}

.notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding-right: 35px;
  padding-left: 35px;
}

.notification {
  margin-top: 6px;
}

.notification .alert-info,
.notification .alert-danger {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 6px 12px 6px 12px;
}

.databases .list-group-item {
  border: none;
  padding: 1px 0 0;
}

#help pre:hover {
  background-color: #ffc;
}

label[for="advanced"] {
  font-size: 16px;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 5px 12px 5px 0;
  cursor: default;
  pointer-events: none;
}

input[name="advanced"] {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

input[type=checkbox] {
  vertical-align: top;
}

#method {
  letter-spacing: 1px;
}

#methods li {
  cursor: pointer;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  letter-spacing: 1px;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: 0;
}

/**********************
        Sidebar
 **********************/
.sidebar > div {
  /* To line up with the results on the right */
  margin-top: 0;
}

.sidebar li a,
.sidebar li button {
  padding: 3px 2px;
}

.sidebar .nowrap-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar.affix {
  margin-top: 0;
  top: 0;
}

@media (min-width: 992px) {
  /* MacBook Pro etc. */
  .sidebar.affix {
    width: 212.5px;
  }
}

@media (min-width: 1200px) {
  /* iMac etc. */
  .sidebar.affix {
    width: 262.5px;
  }
}

/* Result per query. */
.overview {
  /* To line up with the sidebar on the left */
  margin: 10px 0 6px 0;
}

.overview p {
  margin: 0;
}

.resultn {
  margin-top: 6px;
}

.graphical-overview {
  font-size: 12px;
  text-align: center;
}

.graphical-overview .btn {
  padding-top: 0;
  padding-bottom: 0;
}

.hit {
  margin-top: 4px;
}

.hit .section-header h4 {
  cursor: pointer;
  padding-left: 1px;
}

.hit .section-header h4 span,
.hit .section-header h4 strong {
  cursor: text;
}

.hit-links {
  height: 16px;
}

.hsp {
  padding: 1px 0 20px 2px;
}

.hsp-stats {
  font-size: 13px;
  letter-spacing: 0.7px;
  color: #5f5f5f;
  font-weight: 600;
}

.hsp-lines {
  margin-top: 5px;
  font-size: 11px;
  letter-spacing: 1.2px;
}

.hsp-coords {
  color: #5f5f5f;
}

.btn-link {
  border: none;
  padding: 0;
  color: #1b557a;
}

.fastan > .section-header {
  padding-bottom: 8px;
}

.fastan > .section-content {
  padding-top: 8px;
  padding-left: 0;
}

.footer a:first-child {
  vertical-align: super;
}

.dnd-overlay {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.75);
}

.dnd-overlay * {
  pointer-events: none;
}

.dnd-overlay-container {
  padding-top: 72px;
}

.dnd-overlay-container p {
  font-size: 48px;
}

/* higlight when hit is selected */
.glow {
  border-left: 2px solid #c74f14;
}

.downloads a {
  cursor: pointer;
}

.sharing-panel a {
  cursor: pointer;
}

/* CSS class for logo */
.logo {
  width: 205.05px;
  max-height: 35px;
}

/* CSS class for vertical line separating the hit links */
.line {
  color: #c74f14;
  margin: 0 5px 0 5px;
}

/* override bootstrap focus color in the text field of the search page */
.form-control:focus {
  border-color: #1b557a;
}

/* override bootstrap btn-color for the search "BlAST" button on the search page. */
.btn-primary {
  background-color: #1b557a;
  border-color: #174465;
}

.btn-primary:hover {
  background-color: #174465;
  border-color: #174465;
}

.btn-primary:disabled,
.btn-primary[disabled]:hover {
  background-color: #881c14;
  border-color: #881c14;
}

/* CSS class to facilitate the hit header wrapping */
.hit-header {
  display: table-cell;
}


/** For advanced params dropdown **/
.input-group-btn {
  vertical-align: top;
}
#advanced-params-dropdown {
  padding: 0;
}
#advanced-params-dropdown li {
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
}

.share-url-component input[type="text"] {
  width: 100%;
}

.share-url-component .actions {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
}
