svg text {
  font-family: "Source sans pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.graph-links {
  float: right;
  margin: 5px 5px;
}

.grapher {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.raised {
  z-index: 100;
}

.length-distribution {
  height: 200px;
}

.kablammo {
  height: 250px;
}

.alignment-overview {
  /*height: 200px;*/
}

.caption {
  text-align: left;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
}

.btn > .btn-link > .more {
  text-align: center;
}

.bar:hover {
  fill: orangered;
}
