.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Source sans pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

.circosContainer {
  /*background-color: red;*/
}

.hit {
  cursor: pointer;
}

.graph-links {
  right: 3%;
  position: absolute;
  z-index: 10;
  display: none;
}

.grapher:hover .graph-links {
  display: block;
}

.svg_container {
  padding-top: 2%;
}

.grapher {
  border: 1px solid transparent;
}

.grapher:hover {
  border: 1px solid lightblue;
}

.raised {
  z-index: 100;
}

.axis-label {
  font-size: 11px;
}

.legend-text {
  font-size: 12px;
}

.length-distribution {
  height: 200px;
}

.kablammo {
  height: 250px;
}

.alignment-overview {
  /*height: 200px;*/
}

.caption {
  text-align: left;
  text-transform: uppercase;
}

.btn > .btn-link > .more {
  text-align: center;
}

.bar:hover {
  fill: orangered;
}
