svg text {
  font-family: "Source sans pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: orangered;
}

.grapher {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caption {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0 0 10px;
  cursor: pointer;
  width: 82%;
}

.graph-links {
  display: inline-block;
  padding: 0 10px 0 0;
  text-align: right;
  width: 18%;
}

.raised {
  z-index: 100;
}

.length-distribution {
  height: 150px;
}

.kablammo {
  height: 150px;
}

.alignment-overview {
  /*height: 200px;*/
}

.btn > .btn-link > .more {
  text-align: center;
}
