.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Source sans pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

.circosContainer {
  /*background-color: red;*/
}

.hit {
  stroke: rgba(255, 255, 255, 0.7);
  stroke-width: 1px;
  cursor: pointer;
}

.hit.selected {
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 2px;
  stroke-dasharray: 5,5;
}

.graph-links {
  right: 3%;
  position: absolute;
  z-index: 10;
}

.svgContainer {
  padding-top: 2%;
}

.grapher {
  border: 1px solid transparent;
}

.grapher:hover {
  border: 1px solid lightblue;
}

.alignment-selected {
  border: 1px dashed black;
}

.axis-label {
  font-size: 11px;
}

.legend-text {
  font-size: 12px;
}

.caption {
  text-align: left;
  text-transform: uppercase;
}

.btn > .btn-link > .more {
  text-align: center;
}

.bar:hover {
  fill: orangered;
}
