<section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 stats-banner" role="banner">
    <div class="col d-flex align-items-start">
        <div>
            <p><i class="fa fa-quote-left" aria-hidden="true"></i> 130+ citations</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <p><i class="fa fa-users" aria-hidden="true"></i> 10,000+ users</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <p><i class="fa fa-download" aria-hidden="true"></i> 80,000+ downloads</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <a href="https://github.com/wurmlab/sequenceserver" target="_blank" rel="noreferrer"><p><i class="fa fa-star" aria-hidden="true"></i> 217 stars on GitHub</p></a>
        </div>
    </div>
</section>